# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
*.secret
*.backup
.terragrunt-cache/
.terraformrc
terraform.rc

plan
*.plan
destroy

# Lambda
# lambda.zip
response.json

# Rust
target/
Cargo.lock
*.rs.bk

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/
wheels/
*.egg
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
